<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
    <!-- 단일 파일  -->
    <form method="POST" class="w-50 ml-auto mr-auto mt-5" enctype="multipart/form-data" action="./upload">
        <div class="form-file">
            <div class="form-file">
                <input type="file" name="userfile" class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile">
                  <span class="form-file-text">Choose File</span>
                  <span class="form-file-button">Browse</span>
                </label>
            </div>
          </div>
          
          <button class="btn btn-primary mt-3" type="submit">전송하기</button>
    </form>

    <!-- input file 여러개를 통한 다중 업로드 -->
    <form method="POST" class="w-50 ml-auto mr-auto mt-5" enctype="multipart/form-data" action="./upload-multiple-fields">
        <div class="form-file">
            <div class="form-file">
                <input type="file" name="userfile1" class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile">
                  <span class="form-file-text">Choose File</span>
                  <span class="form-file-button">Browse</span>
                </label>
            </div>
          </div>
          <div class="form-file mt-5">
            <div class="form-file">
                <input type="file" name="userfile2" class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile">
                  <span class="form-file-text">Choose File</span>
                  <span class="form-file-button">Browse</span>
                </label>
            </div>
          </div>
          <div class="form-file mt-5">
            <div class="form-file">
                <input type="file" name="userfile3" class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile">
                  <span class="form-file-text">Choose File</span>
                  <span class="form-file-button">Browse</span>
                </label>
            </div>
          </div>
          
          <button class="btn btn-primary mt-3" type="submit">전송하기</button>
    </form>

    <!-- 멀티플 -->
    <form method="POST" class="w-50 ml-auto mr-auto mt-5" enctype="multipart/form-data" action="./upload-multiple">
        <div class="form-file">
            <div class="form-file">
                <input type="file" name="userfiles" multiple class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile">
                  <span class="form-file-text">Choose File</span>
                  <span class="form-file-button">Browse</span>
                </label>
            </div>
          </div>
          
          <button class="btn btn-primary mt-3" type="submit">전송하기</button>
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>